{% extends 'base.html.twig' %}

{% block title %}OS{% endblock %}

{% block body %}
    <h1>OS</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ o.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ o.nom }}</td>
            </tr>
            <tr>
                <th>Surnom</th>
                <td>{{ o.surnom }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ o.annee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('o_s_index') }}">back to list</a>

    <a href="{{ path('o_s_edit', {'id': o.id}) }}">edit</a>

    {{ include('o_s/_delete_form.html.twig') }}
{% endblock %}
